:root {
    h1 {font-size: 24px; font-weight: bold;}
    h2 {font-size: 20px; font-weight: bold;}

    .display-linebreaks {
        white-space: pre-line;
    }

    .page-content {
        margin: 0 auto;
        max-width: 500px;
    }

    --base-ring-inset: var(--base-empty,/*!*/ /*!*/);
    --base-ring-offset-width: 0px;
    --base-ring-offset-color: #fff;
    --base-ring-color: rgba(66, 153, 225, 0.6);
    --base-ring-offset-shadow: 0 0 #0000;
    --base-ring-shadow: 0 0 #0000;
    --base-space-x-reverse: 0;
    --base-space-y-reverse: 0;
    --base-colors-transparent: transparent;
    --base-colors-current: currentColor;
    --base-colors-black: #000000;
    --base-colors-white: #FFFFFF;
    --base-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --base-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --base-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --base-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --base-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --base-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --base-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --base-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --base-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --base-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --base-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --base-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --base-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --base-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --base-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --base-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --base-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --base-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --base-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --base-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --base-colors-gray-50: #F7FAFC;
    --base-colors-gray-100: #EDF2F7;
    --base-colors-gray-200: #E2E8F0;
    --base-colors-gray-300: #CBD5E0;
    --base-colors-gray-400: #A0AEC0;
    --base-colors-gray-500: #718096;
    --base-colors-gray-600: #4A5568;
    --base-colors-gray-700: #2D3748;
    --base-colors-gray-800: #1A202C;
    --base-colors-gray-900: #171923;
    --base-colors-red-50: #FFF5F5;
    --base-colors-red-100: #FED7D7;
    --base-colors-red-200: #FEB2B2;
    --base-colors-red-300: #FC8181;
    --base-colors-red-400: #F56565;
    --base-colors-red-500: #E53E3E;
    --base-colors-red-600: #C53030;
    --base-colors-red-700: #9B2C2C;
    --base-colors-red-800: #822727;
    --base-colors-red-900: #63171B;
    --base-colors-orange-50: #FFFAF0;
    --base-colors-orange-100: #FEEBC8;
    --base-colors-orange-200: #FBD38D;
    --base-colors-orange-300: #F6AD55;
    --base-colors-orange-400: #ED8936;
    --base-colors-orange-500: #DD6B20;
    --base-colors-orange-600: #C05621;
    --base-colors-orange-700: #9C4221;
    --base-colors-orange-800: #7B341E;
    --base-colors-orange-900: #652B19;
    --base-colors-yellow-50: #FFFFF0;
    --base-colors-yellow-100: #FEFCBF;
    --base-colors-yellow-200: #FAF089;
    --base-colors-yellow-300: #F6E05E;
    --base-colors-yellow-400: #ECC94B;
    --base-colors-yellow-500: #D69E2E;
    --base-colors-yellow-600: #B7791F;
    --base-colors-yellow-700: #975A16;
    --base-colors-yellow-800: #744210;
    --base-colors-yellow-900: #5F370E;
    --base-colors-green-50: #F0FFF4;
    --base-colors-green-100: #C6F6D5;
    --base-colors-green-200: #9AE6B4;
    --base-colors-green-300: #68D391;
    --base-colors-green-400: #48BB78;
    --base-colors-green-500: #38A169;
    --base-colors-green-600: #2F855A;
    --base-colors-green-700: #276749;
    --base-colors-green-800: #22543D;
    --base-colors-green-900: #1C4532;
    --base-colors-teal-50: #E6FFFA;
    --base-colors-teal-100: #B2F5EA;
    --base-colors-teal-200: #81E6D9;
    --base-colors-teal-300: #4FD1C5;
    --base-colors-teal-400: #38B2AC;
    --base-colors-teal-500: #319795;
    --base-colors-teal-600: #2C7A7B;
    --base-colors-teal-700: #285E61;
    --base-colors-teal-800: #234E52;
    --base-colors-teal-900: #1D4044;
    --base-colors-blue-50: #ebf8ff;
    --base-colors-blue-100: #bee3f8;
    --base-colors-blue-200: #90cdf4;
    --base-colors-blue-300: #63b3ed;
    --base-colors-blue-400: #4299e1;
    --base-colors-blue-500: #3182ce;
    --base-colors-blue-600: #2b6cb0;
    --base-colors-blue-700: #2c5282;
    --base-colors-blue-800: #2a4365;
    --base-colors-blue-900: #1A365D;
    --base-colors-cyan-50: #EDFDFD;
    --base-colors-cyan-100: #C4F1F9;
    --base-colors-cyan-200: #9DECF9;
    --base-colors-cyan-300: #76E4F7;
    --base-colors-cyan-400: #0BC5EA;
    --base-colors-cyan-500: #00B5D8;
    --base-colors-cyan-600: #00A3C4;
    --base-colors-cyan-700: #0987A0;
    --base-colors-cyan-800: #086F83;
    --base-colors-cyan-900: #065666;
    --base-colors-purple-50: #FAF5FF;
    --base-colors-purple-100: #E9D8FD;
    --base-colors-purple-200: #D6BCFA;
    --base-colors-purple-300: #B794F4;
    --base-colors-purple-400: #9F7AEA;
    --base-colors-purple-500: #805AD5;
    --base-colors-purple-600: #6B46C1;
    --base-colors-purple-700: #553C9A;
    --base-colors-purple-800: #44337A;
    --base-colors-purple-900: #322659;
    --base-colors-pink-50: #FFF5F7;
    --base-colors-pink-100: #FED7E2;
    --base-colors-pink-200: #FBB6CE;
    --base-colors-pink-300: #F687B3;
    --base-colors-pink-400: #ED64A6;
    --base-colors-pink-500: #D53F8C;
    --base-colors-pink-600: #B83280;
    --base-colors-pink-700: #97266D;
    --base-colors-pink-800: #702459;
    --base-colors-pink-900: #521B41;
    --base-colors-linkedin-50: #E8F4F9;
    --base-colors-linkedin-100: #CFEDFB;
    --base-colors-linkedin-200: #9BDAF3;
    --base-colors-linkedin-300: #68C7EC;
    --base-colors-linkedin-400: #34B3E4;
    --base-colors-linkedin-500: #00A0DC;
    --base-colors-linkedin-600: #008CC9;
    --base-colors-linkedin-700: #0077B5;
    --base-colors-linkedin-800: #005E93;
    --base-colors-linkedin-900: #004471;
    --base-colors-facebook-50: #E8F4F9;
    --base-colors-facebook-100: #D9DEE9;
    --base-colors-facebook-200: #B7C2DA;
    --base-colors-facebook-300: #6482C0;
    --base-colors-facebook-400: #4267B2;
    --base-colors-facebook-500: #385898;
    --base-colors-facebook-600: #314E89;
    --base-colors-facebook-700: #29487D;
    --base-colors-facebook-800: #223B67;
    --base-colors-facebook-900: #1E355B;
    --base-colors-messenger-50: #D0E6FF;
    --base-colors-messenger-100: #B9DAFF;
    --base-colors-messenger-200: #A2CDFF;
    --base-colors-messenger-300: #7AB8FF;
    --base-colors-messenger-400: #2E90FF;
    --base-colors-messenger-500: #0078FF;
    --base-colors-messenger-600: #0063D1;
    --base-colors-messenger-700: #0052AC;
    --base-colors-messenger-800: #003C7E;
    --base-colors-messenger-900: #002C5C;
    --base-colors-whatsapp-50: #dffeec;
    --base-colors-whatsapp-100: #b9f5d0;
    --base-colors-whatsapp-200: #90edb3;
    --base-colors-whatsapp-300: #65e495;
    --base-colors-whatsapp-400: #3cdd78;
    --base-colors-whatsapp-500: #22c35e;
    --base-colors-whatsapp-600: #179848;
    --base-colors-whatsapp-700: #0c6c33;
    --base-colors-whatsapp-800: #01421c;
    --base-colors-whatsapp-900: #001803;
    --base-colors-twitter-50: #E5F4FD;
    --base-colors-twitter-100: #C8E9FB;
    --base-colors-twitter-200: #A8DCFA;
    --base-colors-twitter-300: #83CDF7;
    --base-colors-twitter-400: #57BBF5;
    --base-colors-twitter-500: #1DA1F2;
    --base-colors-twitter-600: #1A94DA;
    --base-colors-twitter-700: #1681BF;
    --base-colors-twitter-800: #136B9E;
    --base-colors-twitter-900: #0D4D71;
    --base-colors-telegram-50: #E3F2F9;
    --base-colors-telegram-100: #C5E4F3;
    --base-colors-telegram-200: #A2D4EC;
    --base-colors-telegram-300: #7AC1E4;
    --base-colors-telegram-400: #47A9DA;
    --base-colors-telegram-500: #0088CC;
    --base-colors-telegram-600: #007AB8;
    --base-colors-telegram-700: #006BA1;
    --base-colors-telegram-800: #005885;
    --base-colors-telegram-900: #003F5E;
    --base-borders-none: 0;
    --base-borders-1px: 1px solid;
    --base-borders-2px: 2px solid;
    --base-borders-4px: 4px solid;
    --base-borders-8px: 8px solid;
    --base-fonts-heading: Inter,sans-serif;
    --base-fonts-body: Inter,sans-serif;
    --base-fonts-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --base-fontSizes-3xs: 0.45rem;
    --base-fontSizes-2xs: 0.625rem;
    --base-fontSizes-xs: 0.75rem;
    --base-fontSizes-sm: 0.875rem;
    --base-fontSizes-md: 1rem;
    --base-fontSizes-lg: 1.125rem;
    --base-fontSizes-xl: 1.25rem;
    --base-fontSizes-2xl: 1.5rem;
    --base-fontSizes-3xl: 1.875rem;
    --base-fontSizes-4xl: 2.25rem;
    --base-fontSizes-5xl: 3rem;
    --base-fontSizes-6xl: 3.75rem;
    --base-fontSizes-7xl: 4.5rem;
    --base-fontSizes-8xl: 6rem;
    --base-fontSizes-9xl: 8rem;
    --base-fontWeights-hairline: 100;
    --base-fontWeights-thin: 200;
    --base-fontWeights-light: 300;
    --base-fontWeights-normal: 400;
    --base-fontWeights-medium: 500;
    --base-fontWeights-semibold: 600;
    --base-fontWeights-bold: 700;
    --base-fontWeights-extrabold: 800;
    --base-fontWeights-black: 900;
    --base-letterSpacings-tighter: -0.05em;
    --base-letterSpacings-tight: -0.025em;
    --base-letterSpacings-normal: 0;
    --base-letterSpacings-wide: 0.025em;
    --base-letterSpacings-wider: 0.05em;
    --base-letterSpacings-widest: 0.1em;
    --base-lineHeights-3: .75rem;
    --base-lineHeights-4: 1rem;
    --base-lineHeights-5: 1.25rem;
    --base-lineHeights-6: 1.5rem;
    --base-lineHeights-7: 1.75rem;
    --base-lineHeights-8: 2rem;
    --base-lineHeights-9: 2.25rem;
    --base-lineHeights-10: 2.5rem;
    --base-lineHeights-normal: normal;
    --base-lineHeights-none: 1;
    --base-lineHeights-shorter: 1.25;
    --base-lineHeights-short: 1.375;
    --base-lineHeights-base: 1.5;
    --base-lineHeights-tall: 1.625;
    --base-lineHeights-taller: 2;
    --base-radii-none: 0;
    --base-radii-sm: 0.125rem;
    --base-radii-base: 0.25rem;
    --base-radii-md: 0.375rem;
    --base-radii-lg: 0.5rem;
    --base-radii-xl: 0.75rem;
    --base-radii-2xl: 1rem;
    --base-radii-3xl: 1.5rem;
    --base-radii-full: 9999px;
    --base-space-1: 0.25rem;
    --base-space-2: 0.5rem;
    --base-space-3: 0.75rem;
    --base-space-4: 1rem;
    --base-space-5: 1.25rem;
    --base-space-6: 1.5rem;
    --base-space-7: 1.75rem;
    --base-space-8: 2rem;
    --base-space-9: 2.25rem;
    --base-space-10: 2.5rem;
    --base-space-12: 3rem;
    --base-space-14: 3.5rem;
    --base-space-16: 4rem;
    --base-space-20: 5rem;
    --base-space-24: 6rem;
    --base-space-28: 7rem;
    --base-space-32: 8rem;
    --base-space-36: 9rem;
    --base-space-40: 10rem;
    --base-space-44: 11rem;
    --base-space-48: 12rem;
    --base-space-52: 13rem;
    --base-space-56: 14rem;
    --base-space-60: 15rem;
    --base-space-64: 16rem;
    --base-space-72: 18rem;
    --base-space-80: 20rem;
    --base-space-96: 24rem;
    --base-space-px: 1px;
    --base-space-0-5: 0.125rem;
    --base-space-1-5: 0.375rem;
    --base-space-2-5: 0.625rem;
    --base-space-3-5: 0.875rem;
    --base-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --base-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --base-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --base-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --base-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --base-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --base-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --base-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --base-shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
    --base-shadows-none: none;
    --base-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
    --base-sizes-1: 0.25rem;
    --base-sizes-2: 0.5rem;
    --base-sizes-3: 0.75rem;
    --base-sizes-4: 1rem;
    --base-sizes-5: 1.25rem;
    --base-sizes-6: 1.5rem;
    --base-sizes-7: 1.75rem;
    --base-sizes-8: 2rem;
    --base-sizes-9: 2.25rem;
    --base-sizes-10: 2.5rem;
    --base-sizes-12: 3rem;
    --base-sizes-14: 3.5rem;
    --base-sizes-16: 4rem;
    --base-sizes-20: 5rem;
    --base-sizes-24: 6rem;
    --base-sizes-28: 7rem;
    --base-sizes-32: 8rem;
    --base-sizes-36: 9rem;
    --base-sizes-40: 10rem;
    --base-sizes-44: 11rem;
    --base-sizes-48: 12rem;
    --base-sizes-52: 13rem;
    --base-sizes-56: 14rem;
    --base-sizes-60: 15rem;
    --base-sizes-64: 16rem;
    --base-sizes-72: 18rem;
    --base-sizes-80: 20rem;
    --base-sizes-96: 24rem;
    --base-sizes-px: 1px;
    --base-sizes-0-5: 0.125rem;
    --base-sizes-1-5: 0.375rem;
    --base-sizes-2-5: 0.625rem;
    --base-sizes-3-5: 0.875rem;
    --base-sizes-max: max-content;
    --base-sizes-min: min-content;
    --base-sizes-full: 100%;
    --base-sizes-3xs: 14rem;
    --base-sizes-2xs: 16rem;
    --base-sizes-xs: 20rem;
    --base-sizes-sm: 24rem;
    --base-sizes-md: 28rem;
    --base-sizes-lg: 32rem;
    --base-sizes-xl: 36rem;
    --base-sizes-2xl: 42rem;
    --base-sizes-3xl: 48rem;
    --base-sizes-4xl: 56rem;
    --base-sizes-5xl: 64rem;
    --base-sizes-6xl: 72rem;
    --base-sizes-7xl: 80rem;
    --base-sizes-8xl: 90rem;
    --base-sizes-prose: 60ch;
    --base-sizes-container-sm: 640px;
    --base-sizes-container-md: 768px;
    --base-sizes-container-lg: 1024px;
    --base-sizes-container-xl: 1280px;
    --base-zIndices-hide: -1;
    --base-zIndices-auto: auto;
    --base-zIndices-base: 0;
    --base-zIndices-docked: 10;
    --base-zIndices-dropdown: 1000;
    --base-zIndices-sticky: 1100;
    --base-zIndices-banner: 1200;
    --base-zIndices-overlay: 1300;
    --base-zIndices-modal: 1400;
    --base-zIndices-popover: 1500;
    --base-zIndices-skipLink: 1600;
    --base-zIndices-toast: 1700;
    --base-zIndices-tooltip: 1800;
    --base-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --base-transition-property-colors: background-color,border-color,color,fill,stroke;
    --base-transition-property-dimensions: width,height;
    --base-transition-property-position: left,right,top,bottom;
    --base-transition-property-background: background-color,background-image,background-position;
    --base-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --base-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --base-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --base-transition-duration-ultra-fast: 50ms;
    --base-transition-duration-faster: 100ms;
    --base-transition-duration-fast: 150ms;
    --base-transition-duration-normal: 200ms;
    --base-transition-duration-slow: 300ms;
    --base-transition-duration-slower: 400ms;
    --base-transition-duration-ultra-slow: 500ms;
    --base-blur-none: 0;
    --base-blur-sm: 4px;
    --base-blur-base: 8px;
    --base-blur-md: 12px;
    --base-blur-lg: 16px;
    --base-blur-xl: 24px;
    --base-blur-2xl: 40px;
    --base-blur-3xl: 64px;
    --base-colors-accent: var(--base-colors-teal-500);
    --base-colors-accent-emphasis: var(--base-colors-teal-700);
    --base-colors-accent-static: var(--base-colors-teal-500);
    --base-colors-accent-muted: var(--base-colors-teal-300);
    --base-colors-accent-subtle: var(--base-colors-teal-50);
    --base-colors-fg: var(--base-colors-gray-700);
    --base-colors-fg-emphasis: var(--base-colors-gray-900);
    --base-colors-fg-muted: var(--base-colors-gray-600);
    --base-colors-fg-subtle: var(--base-colors-gray-500);
    --base-colors-fg-on-accent: var(--base-colors-white);
}